apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: cicd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: xzjasper/myapp:latest   # 替换成你的 Docker Hub 名
          ports:
            - containerPort: 8080
